.page-content h1
{	padding-left: 0px;
}
.page-courses .page-content, .page-events .page-content
{	padding-top: 0px;
}
.page-courses .page-content h1, .page-events .page-content h1
{	background: none;
}
.page-courses .page-content h2, .page-events .page-content h2
{	font-size:20px;
	padding:0px;
}
.page-content h1 span.headertextWithSM
{	width: 700px;
}
.courselist_sidebar
{	margin-top: 20px;
}

.courselist_main
{	margin-top: 20px;
}
#courses_container .pagination
{	margin-right: 0px;
}
#courses_container>ul>li
{	width: 695px;
	height: 160px;
	margin-bottom: 15px;
	background: #FFF;
}
#courses_container>ul>li .courselist_image
{	width: 240px;
	height: 160px;
	overflow: hidden;
	float: left;
}
#courses_container>ul>li .courselist_details
{	padding: 20px 8px 10px 20px;
	width: 427px;
	height: 92px;
	overflow: hidden;
	float: left;
}
#courses_container>ul>li .courselist_details h2
{	font-size: 24px;
	margin: 0px 0px 12px;
}
#courses_container>ul>li .courselist_details p
{	margin: 0px;
	font-size: 14px;
	color: #666666;
}
#courses_container>ul>li .courselist_date, #courses_container>ul>li .courselist_slogan
{	padding: 10px 8px 9px 20px;
	width: 427px;
	height: 19px;
	float: left;
	text-align: left;
	background-color: #B54E61;
	color: #FFF;
	font-size: 14px;
}
.page-events #courses_container>ul>li .courselist_date, .page-events #courses_container>ul>li .courselist_slogan
{	background-color: #336699;
}
#courses_container>ul>li .courselist_date_with_slogan
{	width: 295px;
}
#courses_container>ul>li .courselist_slogan
{	padding-right: 5px;
	padding-left: 5px;
	width: 122px;
	text-align: center;
	font-weight: bold;
}
#courses_container>ul>li .courselist_slogan a
{	color: #FFF;
}
#courses_container>ul>li .courselist_slogan.cl_slogan_whi_gre
{	background-color: #008000;
	color: #FFF;
}
#courses_container>ul>li .courselist_slogan.cl_slogan_whi_gre a
{	color: #FFF;
}
#courses_container>ul>li .courselist_slogan.cl_slogan_red_yel
{	background-color: #FFCC33;
	color: #B44D60;
}
#courses_container>ul>li .courselist_slogan.cl_slogan_red_yel a
{	color: #B44D60;
}
#courses_container>ul>li .courselist_slogan.cl_slogan_pnk_mar
{	/*background-color: #800000;*/
	background-color: #993333;
	color: #FFF;
}
#courses_container>ul>li .courselist_slogan.cl_slogan_pnk_mar a
{	color: #FFF;
}

.course-header-title { padding:10px 0; }

.course-details
{	/*background: url('../img/template/course-inner-background.png') repeat-y left top;*/
	position:relative;
}
.course-details h4 { margin:0; padding:10px 0; color: #a22a2b;font-family: 'Belgrano',serif; font-weight:normal; padding-bottom:0; font-size:14px;}
.course-details p { padding:0; color:#373737; }
.course-details .add-to-calendar { background: url('../img/template/icon-course-sidebar.png') left center no-repeat; padding:5px 10px 5px 30px; color:#a22a2b; display:block; margin:10px 0; font-size:14px;}

.course-description .inner { padding-right:10px; }
.course-detail .inner { padding:10px; background-color:#f2dfe3; }
.course-instructor img { width:100%; }

.course-details .button-link
{	border:none;
	background-color:#A22A2B;
	padding-right: 30px;
	margin-left: 10px;
}

.course-instructor #accordion-container { }

.course-instructor .accordion-header {
	margin:0;
	background: #bdb85c;
	background: -moz-linear-gradient(top,  #bdb85c 0%, #b2ad56 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bdb85c), color-stop(100%,#b2ad56));
	background: -webkit-linear-gradient(top,  #bdb85c 0%,#b2ad56 100%);
	background: -o-linear-gradient(top,  #bdb85c 0%,#b2ad56 100%);
	background: -ms-linear-gradient(top,  #bdb85c 0%,#b2ad56 100%);
	background: linear-gradient(to bottom,  #bdb85c 0%,#b2ad56 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdb85c', endColorstr='#b2ad56',GradientType=0 );
	font-family: 'Belgrano',serif;
    font-weight: normal;
	color:#fff;
	padding:10px;
	cursor:pointer;
}

.course-instructor .active-header {

}

.course-instructor .active-header:hover {

}

.course-instructor .inactive-header {

}

.course-instructor .inactive-header:hover {

}

.course-instructor .accordion-content {
	display: none;
	 background-color: #F8F7ED;
}
.course-instructor .accordion-content p {
	padding:10px;
}
.course-instructor .accordion-content a {
 color: #B6B14A;
}
.course-testimonials { }
.course-testimonials h3{ margin:0; padding:10px 0; }
.course-shop h2 {padding:10px 0!important; margin:0!important;font-size: 16px!important;}
.course-shop h2 a{ padding:0; margin:0; }
.course-shop .scheme-mailing h2 {color: #7AA43F;}

#course_detail_left
{	padding: 0px;
	background-color: #FFF;
	width: 590px;
	float: left;
}
#course_detail_overview
{	padding: 45px 33px 30px;
}
#course_detail_right
{	padding: 0px;
	background-color: #FFF;
	width: 350px;
	float: right;
}
#course_detail_right .course_details_slogan
{	padding: 20px 25px;
}
#course_detail_right .course_details_slogan h4
{	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 40px;
}
#course_detail_right .course_details_slogan p
{	margin: 12px 0px 0px;
	padding: 0px;
	font-size: 14px;
	text-align: center;
}
#course_detail_right .course_details_slogan.cl_slogan_whi_gre
{	background-color: #008000;
}
#course_detail_right .course_details_slogan.cl_slogan_whi_gre h4
{	color: #FFF;
}
#course_detail_right .course_details_slogan.cl_slogan_whi_gre p
{	color: #000;
}
#course_detail_right .course_details_slogan.cl_slogan_red_yel
{	background-color: #FF4500;
}
#course_detail_right .course_details_slogan.cl_slogan_red_yel h4
{	color: #FFF;
}
#course_detail_right .course_details_slogan.cl_slogan_red_yel p
{	color: #000;
}
#course_detail_right .course_details_slogan.cl_slogan_pnk_mar
{	/*background-color: #800000;*/
background-color: #993333;
}
#course_detail_right .course_details_slogan.cl_slogan_pnk_mar h4
{	color: #FFF;
}
#course_detail_right .course_details_slogan.cl_slogan_pnk_mar p
{	color: #FFF;
}
.course_details_sidelist
{	padding: 20px;
	width: 310px;
}
.course_details_sidelist>h4
{	float: left;
	width: 100px;
	font-size: 26px;
	font-family: Lato, Tahoma, Geneva, sans-serif;
	font-weight: 300;
}
.page-courses .course_details_sidelist>h4
{	color: #b54e61;
}
.page-events .course_details_sidelist>h4
{	color: #336699;
}
.course_details_sidelist>div.course_details_sidelist_content
{	float: right;
	width: 190px;
	font-size: 14px;
	color: #333333;
	padding-top: 3px;
}
.course_details_sidelist>div>p
{	padding: 0px;
}
.course_details_sidelist.course_details_code
{	padding: 5px 20px;
	font-size: 10px;
	color: #999999;
}
#course_detail_right .googleButton
{	margin: 10px 0px;
}
#course_detail_right #coursemap
{	width: 350px;
	height: 165px;	
}
#course_detail_right .course_booknow
{	display: block;
	width: 300px;
	/*background: #b54e61 url('../img/template/button_arrow_large.png') no-repeat 330px center;*/
	/*background: #800000 url('../img/template/button_arrow_large.png') no-repeat 330px center;*/
	background: #993333 url('../img/template/button_arrow_large.png') no-repeat 330px center;
	color: #FFF;
	font-size: 24px;
	padding: 20px 25px;
}
#course_book_modal_popup
{	padding-bottom: 20px;
	width: 360px;
	margin-left: -180px;
	top: 10%;
}
#course_book_modal_popup form p
{	clear: both;
	margin: 0px 0px;
}
#course_book_modal_popup form label
{	display: block;
	float: left;
	text-align: left;
	width: 60px;
	margin: 5px 5px 5px 0px;
	padding: 5px 0px;
}
#course_book_modal_popup form select
{	display: block;
	float: left;
	margin: 5px 0px;
	padding: 5px 10px;
	width: 290px;
}
#course_book_modal_popup form select option
{	padding: 5px 10px 0px;
}
#course_book_modal_popup form input[type="text"]
{	display: block;
	float: left;
	width: 30px;
	margin: 5px 0px;
	text-align: right;
	padding: 5px 10px;
}

#course_book_modal_popup form input[type="submit"]
{	/*background: #b54e61 url("../img/template/button_arrow.png") no-repeat scroll 94% center;*/
	/*background: #800000 url("../img/template/button_arrow.png") no-repeat scroll 94% center;*/
	background: #993333 url("../img/template/button_arrow.png") no-repeat scroll 94% center;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-family: 'Belgrano',serif;
	font-size: 13px;
	margin-left: 90px;
	padding: 11px 50px 11px 10px;
	text-align: left;
	border: none;
	float: right;
}
.page-events #course_detail_right .course_booknow, .page-events #course_book_modal_popup form input[type="submit"]
{	/*background-color: #336699;*/
}
#course_instructors h2
{	
}
#course_instructors ul
{	
}
#course_instructors ul>li
{	float: left;
	width: 470px;
	height: 160px;
	margin: 0px 0px 20px;
	background-color: #339999;
	color: #FFF;
}
#course_instructors ul>li a
{	color: #FFF;
}
#course_instructors ul>li .course_inst_image
{	float: left;
	width: 120px;
	height: 160px;
	overflow: hidden;
}
#course_instructors ul>li .course_inst_image img
{	height: 160px;
}
#course_instructors ul>li .course_inst_text
{	float: left;
	width: 297px;
	height: 127px;
	padding: 33px 20px 0px 33px;
}
#course_instructors ul>li .course_inst_text h3
{	font-size: 24px;
	margin: 0px 0px 7px;
}
#course_instructors ul>li .course_inst_text p
{	font-size: 14px;
}
#course_instructors ul>li:first-child
{	margin-right: 20px;
}

.sub_sidebar_image
{	width: 100%;
}

#nextCourse
{	background-color: #FFFF99;
	padding: 10px 0px;
	font-size: 30px;
	color: #B44D60;
}
#nextCourse a
{	display: block;
	float: right;
	padding: 10px 30px 10px 10px;
	color: #FFF;
	background: #336699 url('../img/template/button_arrow_white.png') no-repeat right 10px center;
	font-size: 16px;
}
.courselist_series
{	width: 880px;
	margin: 40px;
}
.courselist_series #courselist_series_inner
{	width: 720px;
	background-color: #333333;
	padding: 50px 80px;
	color: #FFF;
}
.page-courses .page-content #courselist_series_inner .the-content, .page-events .page-content #courselist_series_inner .the-content
{	color: #FFF;
	background-color: #333333;
	padding: 10px 0px;
}
.page-courses .page-content #courselist_series_inner .pageTopText, .page-events .page-content #courselist_series_inner .pageTopText
{	color: #FFF;
}
#seriesbanner
{	width: 880px;
}
#courselist_series_inner #courses_container>ul>li
{	width: 350px;
	height: 440px;
	margin-bottom: 20px;
	float: left;
}
#courselist_series_inner #courses_container>ul>li:first-child
{	margin-right: 20px;
}
#courselist_series_inner #courses_container>ul>li .courselist_image
{	width: 350px;
	height: 228px;
	overflow: hidden;
	float: none;
}
#courselist_series_inner #courses_container>ul>li .courselist_image img
{	width: 350px;
}
#courselist_series_inner #courses_container>ul>li .courselist_details
{	padding: 13px 20px;
	width: 270px;
	height: 186px;
	overflow: hidden;
	float: none;
	background-color: #FFF;
}
#courselist_series_inner #courses_container>ul>li .courselist_details .courselist_details_inner
{	height: 127px;
	overflow: hidden;
}

#courselist_series_inner #courses_container>ul>li .courselist_details .courselist_details_inner h2
{	font-size: 26px;
	background: #FFF;
	color: #000;
	height: auto;
}
#courselist_series_inner #courses_container>ul>li .courselist_details .courselist_details_inner h2 a
{	color: #000;
}
/*.page-courses .page-content #courselist_series_inner #courses_container>ul>li h2, .page-events .page-content #courselist_series_inner #courses_container>ul>li h2
{	font-size: 26px;
	background-color: #333333;
	margin: 0px;
	padding: 0px 0px 20px;
	color: #FFF;
	height: 32px;
	overflow: hidden;
}
.page-courses .page-content #courselist_series_inner #courses_container>ul>li h2 a, .page-events .page-content #courselist_series_inner #courses_container>ul>li h2 a
{	color: #FFF;
}*/
#courselist_series_inner #courses_container>ul>li .courselist_details p
{	margin: 0px;
	font-size: 14px;
	color: #333333;
}
p.series_slogan
{	height: 42px;
	overflow: hidden;
}
a.series_button
{	padding: 5px 30px 5px 12px;
	display: block;
	background: #D06E30 url('../img/template/button_arrow_white.png') no-repeat right 10px center;
	color: #FFF;
	width: 90px
}