<IfModule mod_rewrite.c>
#CheckSpelling off
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !\.(php|html?|jpg|gif)$
RewriteRule ^(.*)([^/])$ http://%{HTTP_HOST}/$1$2/ [L,R=301]
RewriteRule ^page/(.*)/$ xpxaxgxe.php?page=$1 [QSA,L]
RewriteRule ^video/([0-9]+)-(.*)/$ video.php?id=$1 [QSA,L]
RewriteRule ^multimedia.php$ xmxuxlxtixmedia.php [QSA,L]
RewriteRule ^multimedia_cat/([0-9]+)/([^/]*)/$ xmxuxlxtixmedia.php?catid=$1 [QSA,L]
RewriteRule ^multimedia/([0-9]+)/([^/]*)/$ xmxuxlxtixmedia.php?mmid=$1 [QSA,L]
RewriteRule ^video/category/([0-9]+)-(.*)/$ xmxuxlxtixmedia.php?catid=$1 [QSA,L]
RewriteRule ^opinions/([0-9]+)-(.*)/$ xoxpxixnxixoxn.php?id=$1 [QSA,L]
RewriteRule ^news/$ xnxexwxs.php [QSA,L]
RewriteRule ^news/([0-9]+)-(.*)/$ newspost.php?id=$1 [QSA,L]
RewriteRule ^post-category/([0-9]+)/([^/]*)/$ xnxexwxs.php?cat=$1 [QSA,L]
RewriteRule ^news-category/([0-9]+)/([^/]*)/$ xnxexwxs.php?cat=$1 [QSA,L]
RewriteRule ^news-archive/([0-9]{4})/$ xnxexwxs.php?year=$1 [QSA,L]
RewriteRule ^opinions-archive/([0-9]{4})/$ xoxpxixnxixoxnxs.php?year=$1 [QSA,L]
RewriteRule ^opinions-category/([0-9]+)/([^/]*)/$ xoxpxixnxixoxnxs.php?cat=$1 [QSA,L]
RewriteRule ^opinions.php$ xoxpxixnxixoxnxs.php [QSA,L]
RewriteRule ^opinions/$ xoxpxixnxixoxnxs.php [QSA,L]
RewriteRule ^ask-the-expert/([0-9]+)-(.*)/$ xaxsxkxtxhxexexpert.php?id=$1 [QSA,L]
RewriteRule ^contact/$ contact.php [QSA,L]
RewriteRule ^faq/([0-9]+)-(.*)/$ faqpost.php?id=$1 [QSA,L]
RewriteRule ^faq.php$ xfxaxq.php [QSA,L]
RewriteRule ^faq/$ xfxaxq.php [QSA,L]
RewriteRule ^faq/category/([0-9]+)/([^/]*)/$ xfxaxq.php?catid=$1 [QSA,L]
RewriteRule ^course/([0-9]+)-(.*)/$ xcxoxuxrse.php?id=$1 [QSA,L]
RewriteRule ^courses.php$ xcxoxuxrxsxexs.php [QSA,L]
RewriteRule ^courses/$ xcxoxuxrxsxexs.php [QSA,L]
RewriteRule ^previous-courses/$ xcxoxuxrxsxexs.php?prev=1 [QSA,L]
RewriteRule ^event/([0-9]+)-(.*)/$ xcxoxuxrse.php?id=$1 [QSA,L]
RewriteRule ^previous-events/$ events.php?prev=1 [QSA,L]
RewriteRule ^events/$ events.php [QSA,L]
RewriteRule ^subscription/$ subscription.php [QSA,L]
RewriteRule ^subscription/([0-9]+)/([^/]*)/$ subproduct.php?id=$1 [QSA,L]
RewriteRule ^course-category/([0-9]+)/(.*)/$ xcxoxuxrxsxexs.php?catid=$1 [QSA,L]
RewriteRule ^event-category/([0-9]+)/(.*)/$ events.php?catid=$1 [QSA,L]
RewriteRule ^asktheexpert.php$ xaxsxkxtxhxexexpert.php [QSA,L]
RewriteRule ^asktheexpert/category/([0-9]+)/(.*)/$ xaxsxkxtxhxexexpert.php?catid=$1 [QSA,L]
RewriteRule ^asktheexpert/instructor/([0-9]+)/(.*)/$ xaxsxkxtxhxexexpert.php?inid=$1 [QSA,L]
RewriteRule ^asktheexpert/topic/([0-9]+)/(.*)/$ xaxsxkxtxhxexexpert.php?topic=$1 [QSA,L]
RewriteRule ^people.php$ xpxexoxpxlxe.php [QSA,L]
RewriteRule ^people/$ xpxexoxpxlxe.php [QSA,L]
RewriteRule ^people/([0-9]+)-(.*)/$ instructor.php?id=$1 [QSA,L]
RewriteRule ^people/interviews/([0-9]+)/([^/]*)/$ interview.php?id=$1 [QSA,L]
RewriteRule ^store.php$ xsxtxoxrxe.php [QSA,L]
RewriteRule ^store/$ xsxtxoxrxe.php [QSA,L]
RewriteRule ^store/category/([0-9]+)-(.*)/$ xsxtxoxrxe.php?catid=$1 [QSA,L]
RewriteRule ^store/product/([0-9]+)/([^/]*)/$ storeproduct.php?id=$1 [QSA,L]
RewriteRule ^product_download/([0-9]+)/(.+)$ xpxrxoxdxuxcxt_download.php?id=$1 [QSA,L]
RewriteRule ^shared/([\w]+)/$ index.php?affcode=$1 [QSA,L]

RewriteRule ^downloads.php$ xdxoxwxnxloads.php?id=$1 [QSA,L]
RewriteRule ^download/([0-9]+)-(.*)$ xdxoxwxnxload.php?id=$1 [QSA,L]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#RewriteRule ^(.*)/$ $1.php [QSA,L]
</IfModule>